body{
    padding: 0px;
    margin: 0px;
}
main{
    height: 100vh;
    width: 100%;
    padding: 0px;
    display: grid;
    grid-template-rows: 1.5fr 6fr 1.5fr;
    grid-template-columns: 3fr 6fr 3fr;
    background-color: black;
    font-family: "Audiowide", sans-serif;
    color: rgb(224, 224, 224); 
    text-shadow:
    0 0 5px #e0e0e0,
    0 0 15px #00ffff,  
    0 0 25px white;
}
.app-title{
    grid-row:1/2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 19%;
}
.app-title:hover{
    color: rgb(90, 255, 90) ;
    text-shadow:0 0 10px rgb(104, 255, 90) ;
}

.folder-name-holder{
    grid-row:1/2;
    grid-column: 2/3;
}
.logout-btn-holder{
    grid-row: 1/2;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout-btn-holder button{
    height:40%;
    width: 30%;
    border: 2px solid rgb(224, 224, 224);
    box-shadow:  0 0 20px rgb(224, 224, 224) ;
    background-color: #121212;
    color: rgb(224, 224, 224);
    border-radius: 10px;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
}
.logout-btn-holder button:hover{
    background-color: rgb(224, 224, 224);
    color: #121212;
}
.folder-section{
    grid-row:2/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.file-section{
    position: relative;
    grid-row:2/3;
    grid-column:2/4;
    background-image: url("/addFile.gif");
    background-repeat: no-repeat;
    background-position:40% 65%;
    background-size: 20%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 30px;

}
.folder-heading-add{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.folder-add-btn{
     border: 2px solid rgb(224, 224, 224);
    box-shadow:  0 0 20px rgb(224, 224, 224) ;
    background-color: #121212;
    color: rgb(224, 224, 224);
    border-radius: 50%;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
    height: 35px;
    width: 35px;
    font-size:20px;
}
.folder-add-btn:hover{
    background-color: rgb(224, 224, 224);
    color: #121212;
}
.folder-list{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}
.folder{
    height:30px;
    width: 90%;
    
    display: grid;
    grid-template-columns: 7fr 1.5fr 1.5fr;
}
.file{
    height:40px;
    width:80%;
    display: grid;
    background-color: rgba(28, 28, 28, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    grid-template-columns:  15fr 5fr 5fr 2fr 2fr;
}
.file-operations{
    grid-row: 3/4 ;
    grid-column: 2/4;
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.modal{
    display: none;
    position: fixed;
    z-index: 999;
    left:0;top: 0;
    width: 100%;
    height: 100%;
    background-color: (0,0,0,0.6);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
.modal-content{
    height:17%;
    width:20%;
    background: #1a1a1a;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  box-shadow: 0 0 15px #00f0ff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.close{
    display: flex;
    justify-content: end;
    font-size: 28px;
    cursor: pointer;
}
.close:hover{
    color: red ;
    text-shadow:0 0 15px rgb(255, 96, 96) ;
}
.modal-content input[type="text"]{
 background-color: #1a1a1a;
 color: #00ffff;
 margin-left:10px;
 box-shadow: 0 0 6px #00f0ff;
 font-family: "Audiowide", sans-serif;
}
.modal-content button{
    margin-top: 15px;
    background-color:#1a1a1a;
    color: #e0e0e0;
    border-radius: 10px;
    height: 30px;
    width:80px;
    box-shadow: 0 0 6px #00f0ff;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
}
.folder-name{
    display: flex;
    align-items: center;  
}
.folder-name p{
cursor: pointer;
}
.folder-update-icon-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.folder-update-icon-holder img{
    object-fit: cover;
    height:90%;
    width: 90%;
    cursor: pointer;
}
.folder-delete-btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.folder-delete-btn-holder img{
    object-fit: cover;
    height:90%;
    width: 90%;
    cursor: pointer;
}
.create-file-btn{
    background-image: url('./addFile.gif');
    height:100%;
    width:20%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: rgb(255, 230, 230); 
    text-shadow:
    0 0 5px #e0e0e0,
    0 0 15px #c56eff,  
    0 0 25px white;
    cursor: pointer;
}
.folder-name-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.file-delete-btn-holder{
    background-image: url('/deleteFile.png');
    background-size: 70%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: black;
    cursor:  pointer ;
}
.file div{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.file-download{
      background-image: url('/downloadFile.png');
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: black;
    cursor:  pointer ;
}





